




/*
     FILE ARCHIVED ON 23:29:46 févr. 9, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:23:55 janv. 8, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*  WordPress Core
/*  =======================================================================  */

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 0 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 15px 4px 5px;
}

.sticky {

}

.gallery-caption {

}

.bypostauthor {

}





/*  Base Styles
/*  =======================================================================  */

html { background: #fff; }
body {
  height: auto !important;
  background: #fff;
  color: #666;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-backface-visibility: hidden;
}
form { margin: 0; }
body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
label {
  font-weight: normal;
  font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px 0;
  color: #333;
  font-weight: 300;
  font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}
h1 {
  margin: 15px 0;
  font-size: 48.5px;
}
h1, h2 { letter-spacing: -1px; }
small { line-height: 14px; }
code,
pre {
  padding: 2px 5px;
  border: none;
  border-radius: 0;
  background-color: #f5f5f5;
  color: #dd3f19;
  font-size: 13px;
  font-family: Menlo, Consolas, "Courier New", monospace;
}
pre {
  padding: 20px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
p { margin: 0 0 20px; }
p img { margin: 10px 0; }
p img.wp-smiley { margin: 0; }
ul, ol { margin: 0 0 20px 25px; }
a, a > * {
  text-decoration: none;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}
a, a > *, a:focus { color: #333; }
a:hover { color: #dd3f19; }
a:focus,
a:hover,
a:focus,
.btn:focus {
  outline: none;
  text-decoration: none;
}
a i, a i > *, a i:focus { color: #fff; }
a.inverse, a > *.inverse, a.inverse:focus { color: #dd3f19; }
a.inverse:hover { color: #333; }
a.light-gray, a > *.light-gray, a.light-gray:focus,
a.light-gray i, a.light-gray i > *, a.light-gray i:focus { color: #adadad; }
a.light-gray:hover,
a.light-gray:hover i { color: #dd3f19; }
hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  position: relative;
  margin: 0 0 20px;
  padding: 5px 0 5px 25px;
  border-left: 3px solid #e5e5e5;
  font-size: 125%;
}
blockquote p {
  margin: auto;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
blockquote small { margin-top: 10px; }
blockquote cite { color: #dd3f19; }

.row-fluid [class*="span"] { min-height: inherit; }
.content {
  position: relative;
  width: 100%;
  background: #fff;
}


/*  Helpers
/*----------------------------------------------------*/

.upper { text-transform: uppercase; }
.bolder { font-weight: 400; }
.headline {
  margin-bottom: 35px;
  color: #7f7f7f;
  color: rgba(0, 0, 0, .5);
  font-size: 115%;
  line-height: 1.6;
}
.headline.text-center { padding: 0 80px; }
p:empty { display: none; }
p.no-margin,
p.no-margin img { margin: 0; }
.loose li { padding: .25em 0; }

.gap10   { height: 10px; }
.gap20   { height: 20px; }
.gap30   { height: 30px; }
.gap40   { height: 40px; }
.gap50   { height: 50px; }
.gap60   { height: 60px; }
.gap70   { height: 70px; }
.gap80   { height: 80px; }
.gap90   { height: 90px; }
.gap100  { height: 100px; }



/*  Modifiers
/*----------------------------------------------------*/

.fadeFromTop {
  position: relative;
  top: -50px;
  opacity: 0;
}
.fadeFromBottom {
  position: relative;
  top: 50px;
  opacity: 0;
}

.fastFadeFromTop {
  position: relative;
  top: -50px;
  opacity: 0;
}
.fastFadeFromBottom {
  position: relative;
  top: 50px;
  opacity: 0;
}

.pull-top {
  margin-top: -475px;
}




/*  Contact Bar & Search Bar
/*  =======================================================================  */

.contact-bar,
.search-bar {
  position: fixed;
  left: 0;
  z-index: 1040;
  width: 100%;
  background: #dd3f19;
  color: #fff;
  color: rgba(255, 255, 255, .6);
}
  .contact-bar .container {
    padding: 20px 0;
  }
  .search-bar .container {
    padding: 50px 0;
  }
      .contact-bar .close,
      .search-bar .close {
        position: absolute;
        top: 12px;
        right: 12px;
        color: #fff;
        font-weight: 300;
        font-size: 50px;
        opacity: .4;
        filter: alpha(opacity=40);
      }
      .contact-bar .close:hover,
      .search-bar .close:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      .contact-bar h3 {
        color: #fff;
      }
      .contact-bar p {
        color: #fff;
        color: rgba(255, 255, 255, .6);
      }
      .contact-bar .btn-simple.btn-inverse:hover {
        background: #333;
      }
      .search-bar input[type="text"].input-inverse {
        height: auto;
        border-color: #fff;
        border-color: rgba(255, 255, 255, .4);
        font-size: 20px;
        line-height: 26px;
      }
      .search-bar input[type="text"].input-inverse:focus {
        border-color: #fff;
      }

.contact-bar-corner,
.search-bar-corner {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  margin-left: -7px;
  border-top: 7px solid #dd3f19;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}




/*  Navbar
/*  =======================================================================  */

header .navbar {
}
  header .navbar-fixed-top .navbar-inner {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  header .navbar-inner {
    border: none;
    background: #333;
    background: rgba(0, 0, 0, .6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
  header .sticky .navbar-inner {
    background: #333;
    background: rgba(0, 0, 0, .8);
  }


    /*  Responsive Navbar Button
    /*----------------------------------------------------*/

    header .navbar .btn-navbar {
      margin: 44px 0 0;
      padding: 0;
      border: none;
      background: transparent;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      color: #fff;
      text-shadow: none;
      -webkit-transition: all .2s ease-in-out;
         -moz-transition: all .2s ease-in-out;
           -o-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
    }
    header .sticky.navbar .btn-navbar {
      margin: 24px 0 0;
    }
    header .navbar .btn-navbar:hover,
    header .navbar .btn-navbar:focus,
    header .navbar .btn-navbar:active,
    header .navbar .btn-navbar.active,
    header .navbar .btn-navbar.disabled,
    header .navbar .btn-navbar[disabled] {
        background: transparent;
    }
      header .navbar .btn-navbar .icon-bar {
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        background: #fff;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        }


    /*  Logo
    /*----------------------------------------------------*/

    header .navbar .brand {
      margin: 15px 0;
      padding: 0;
      max-width: 250px;
      height: 70px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: none;
    }
    header .sticky.navbar .brand {
      margin: 0;
      height: 60px;
    }
      header .navbar .brand img {
        max-height: 100%;
      }
      header .sticky.navbar .brand img {
        max-height: 100%;
      }


    /*  Links
    /*----------------------------------------------------*/

    header .navbar .nav > li > a {
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
      color: rgba(255, 255, 255, .6);
      text-transform: uppercase;
      text-shadow: none;
      font-weight: 600;
      font-size: 11px;
    }
    header .sticky.navbar .nav > li > a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    header .navbar .nav > li > a:focus,
    header .navbar .nav > li > a:hover,
    header .navbar .nav > .active > a,
    header .navbar .nav > .active > a:hover,
    header .navbar .nav > .active > a:focus {
      background: rgba(0, 0, 0, .4);
      -webkit-box-shadow: inset 0 -2px 0 #dd3f19;
         -moz-box-shadow: inset 0 -2px 0 #dd3f19;
              box-shadow: inset 0 -2px 0 #dd3f19;
      color: #fff;
    }
    header .navbar .nav li.dropdown > a:hover .caret,
    header .navbar .nav li.dropdown > a:focus .caret {
      border-top-color: #dd3f19;
      border-bottom-color: #dd3f19;
    }
    header .navbar .nav li.dropdown.open > .dropdown-toggle,
    header .navbar .nav li.dropdown.active > .dropdown-toggle,
    header .navbar .nav li.dropdown.open.active > .dropdown-toggle {
      background: rgba(0, 0, 0, .4);
      color: #fff;
    }
    header .navbar .nav .dropdown-toggle .caret {
      position: absolute;
      bottom: -4px;
      left: 50%;
      margin: 5px 0 0 -3px;
      border-top: 4px solid #000;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
    header .navbar .nav li.dropdown > .dropdown-toggle .caret {
      border-top-color: rgba(0, 0, 0, .6);
      border-bottom-color: rgba(0, 0, 0, .6);
    }
    header .sticky.navbar .nav li.dropdown > .dropdown-toggle .caret {
      border-top-color: rgba(0, 0, 0, .8);
      border-bottom-color: rgba(0, 0, 0, .8);
    }
    header .sticky.navbar .nav li.dropdown > a:hover .caret {
      border-top-color: #dd3f19;
      border-bottom-color: #dd3f19;
    }
    header .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
    header .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
    header .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color: #dd3f19;
      border-bottom-color: #dd3f19;
    }


      /*  Dropdown
      /*----------------------------------------------------*/

      header .dropdown-menu {
        margin-top: 5px;
        padding: 10px 0;
        border: none;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        background: rgba(0, 0, 0, .8);
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        -webkit-transition: all .2s ease-in-out;
           -moz-transition: all .2s ease-in-out;
             -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }
      header .sticky .dropdown-menu {
        background: rgba(34, 34, 34, .98);
      }
      header .dropdown-menu > li > a {
        margin: 0;
        padding: 6px 20px;
        color: rgba(255, 255, 255, .8);
        font-size: 12px;
        -webkit-transition: all .2s ease-in-out;
           -moz-transition: all .2s ease-in-out;
             -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }
      header .dropdown-menu > li > a:hover,
      header .dropdown-menu > li > a:focus,
      header .dropdown-submenu:hover > a,
      header .dropdown-submenu:focus > a,
      header .dropdown-menu > .active > a,
      header .dropdown-menu > .active > a:hover,
      header .dropdown-menu > .active > a:focus {
        background: #dd3f19;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3f19', endColorstr='#dd3f19', GradientType=0);
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        -webkit-transition: all .2s ease-in-out;
           -moz-transition: all .2s ease-in-out;
             -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }


      /*  Corners
      /*----------------------------------------------------*/

      header .navbar .nav > li > .dropdown-menu:before {
        display: none;
      }
    header .navbar .nav > li > .dropdown-menu:after {
        position: absolute;
        top: -4px;
        left: 10px;
        display: inline-block;
        display: none;
        border-right: 4px solid transparent;
        border-bottom: 4px solid rgba(0, 0, 0, .8);
        border-left: 4px solid transparent;
        content: '';
      }
      header .navbar .pull-right > li > .dropdown-menu,
      .navbar .nav > li > .dropdown-menu.pull-right {
        right: auto;
        left: 0;
      }
      header .navbar .pull-right > li > .dropdown-menu:after,
      header .navbar .nav > li > .dropdown-menu.pull-right:after {
        right: auto;
      }
      header .dropdown-submenu > a:after {
        margin-right: -30px;
        border-width: 3px 0 3px 3px;
        border-left-color: rgba(255, 255, 255, .6);
        -webkit-transition: all .2s ease-in-out;
           -moz-transition: all .2s ease-in-out;
             -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
      }


  /*  Search
  /*----------------------------------------------------*/

  header .navbar .search-bar-btn i {
    color: rgba(255, 255, 255, .6);
  }
  header .navbar .search-bar-btn:hover i {
    color: #fff;
  }


/*  Dropdown Fade Effect
/*----------------------------------------------------*/

.open > .dropdown-menu {

  -webkit-animation-name: slidenavAnimation;
     -moz-animation-name: slidenavAnimation;
          animation-name: slidenavAnimation;
  -webkit-animation-duration:.2s;
     -moz-animation-duration:.2s;
          animation-duration:.2s;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
  opacity: 1;
  }
}




/*  Footer
/*  =======================================================================  */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: #222;
  background-position: top center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, .3);
  text-align: center;
  font-size: 12px;
}
  footer .widget {
    margin: 50px 0;
  }
  footer a {
    color: #fff;
    color: rgba(255, 255, 255, .6);
  }
  footer a:hover {
    color: #dd3f19;
  }
  footer .top-tier {
  }
    footer .brand {
      display: block;
      height: 60px;
    }
      footer .brand img {
        max-height: 100%;
      }
    footer .social-links {
      display: inline-block;
      margin: 10px 0 0;
      padding: 8px;
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;
      -webkit-box-shadow: inset 0 0 0 1px #d9d9d9;
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
         -moz-box-shadow: inset 0 0 0 1px #d9d9d9;
         -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
              box-shadow: inset 0 0 0 1px #d9d9d9;
              box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
    }
      footer .social-links li {
        display: inline;
        margin: 0;
      }
        footer .social-links a {
          margin: 0;
          padding: 0 8px;
          text-align: center;
        }

  footer .bottom-tier {
    padding: 20px 0;
    background: #1b1b1b;
    background: rgba(0, 0, 0, .1);
  }
    footer .copyright {
      margin: 0;
    }
      footer .copyright li {
        display: inline;
        margin: 0 7px;
      }




/*  Page Title
/*  =======================================================================  */

.page-title {
  margin: 0;
  padding: 165px 0 84px;
  width: 100%;
  border: none;
  background-position: 49% center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
  .page-title h1 {
    z-index: 100;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: 48px;
  }
  .page-title p {
    z-index: 100;
    margin: 0;
    padding: 0 150px;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 22px;
    font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

.page-title.page-title-high {
    padding: 175px 0 145px;
}
  .page-title.page-title-high h1 {
    font-size: 100px;
  }
  .page-title.page-title-high p {
    padding: 0;
    font-size: 30px;
  }


/*  Motion Backgrounds
/*----------------------------------------------------*/

.background-video {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
  .background-video video {
    position: relative;
    min-width: 100%;
    min-height: 100%;
  }


/*  Page Title for Single Project 
/*----------------------------------------------------*/

.single-portfolio .page-title {
  padding-bottom: 425px;
}
  .single-portfolio .page-title h1 {
    font-size: 82px;
  }
  .single-portfolio .page-title p {
    padding: 10px 100px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-size: 23px;
  }
  .project-details {
    position: relative;
    z-index: 100;
    margin-top: 30px;
  }
      .project-details .info {
        text-align: left;
        font-size: 14px;
        line-height: 24px;
      }
      .project-nav a {
        float: left;
        margin-left: 5px;
        width: 35px;
        height: 35px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background-size: 35px 35px;
        background-repeat: no-repeat;
        -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
           -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
                box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
        color: rgba(255, 2555, 255, .4);
        text-align: center;
        line-height: 33px;
      }
      .project-nav a:hover {
        background-color: #dd3f19;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        opacity: 1;
      }
        .project-nav a.prev {
          background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_prev_inverse.png);
        }
          .project-nav a.next {
          background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_next_inverse.png);
        }
          .project-nav a.list {
          background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_list_inverse.png);
        }

.single-portfolio .project-info {
  font-size: 14px;
  line-height: 22px;
}




/*  Content
/*  =======================================================================  */

/*  To Top
/*----------------------------------------------------*/

#to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #333;
    background-color: rgba(0, 0, 0, .5);
    background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/to_top.png);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
#to-top:hover {
   background-color: #dd3f19;
}
  #to-top i {
      color: #fff;
  }


/*  Blog Post
/*----------------------------------------------------*/

.post {
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 1.6;
}
.post:first-child {
  margin-top: 0;
}
  .post .media-body > img,
  .post .media-body .picture-slider,
  .post .media-body .fluid-width-video-wrapper {
    margin-bottom: 25px;
    max-width: 100%;
  }
  .post .media-body .btn {
    margin-top: 10px;
  }
  .post .date {
    position: relative;
    display: table;
    float: left;
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background: #dd3f19;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  .post .date:after {
    position: absolute;
    top: 10px;
    right: -5px;
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #dd3f19;
    content: '';
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  .post .date:hover {
    background: #666;
  }
  .post .date:hover:after {
      border-left: 5px solid #666;
  }
    .post .date a {
      display: table-cell;
      margin: 0 auto;
      width: 100%;
      color: #fff;
      vertical-align: middle;
    }
      .post .date i {
        font-size: 24px;
      }

  .post h2 {
    margin: 0 0 15px;
    font-size: 48px;
  }
    .post h2 a {
      color: #333;
    }
    .post h2 a:hover {
      color: #dd3f19;
    }

  .post-meta {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid #dd3f19;
  }
    .post-meta > div {
      display: inline-block;
      color: #adadad;
    }
      .post-meta a {
        color: #adadad;
      }
      .post-meta a:hover {
        color: #dd3f19;
      }

  .post-entry {
    overflow: hidden;
    zoom: 1;
  }


/*  Thumbnails (Grid Based Blog)
/*----------------------------------------------------*/

.thumbnail {
  display: block;
  margin-bottom: 50px;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.thumbnail .thumb {
  position: relative;
  text-align: center;
}
.thumbnail .caption {
  padding: 25px 0 5px;
  text-align: center;
}
.thumbnail .caption h4 {
  margin: 0 0 5px;
  text-align: center;
}

.thumbnail .caption p {
  text-align: center;
  font-size: 12px;
}
.thumbnail .caption hr {
  margin: 0 auto 20px;
  width: 50%;
}

.thumbnail .caption .categores {
  margin-bottom: 10px;
  color: #a5a5a5;
  text-align: center;
  font-size: 11px;
}
.thumbnail.team {
  margin-bottom: 0;
}
.thumbnail.team .caption .categores {
  margin-bottom: 20px;
}
.thumbnail .post-meta {
  display: block;
  padding: 9px 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 11px;
}
.thumbnail .post-meta > div {
  margin: 0 5px;
}


/*  Comments
/*----------------------------------------------------*/

.comments {
  font-size: 12px;
}
.comments-title {
  margin-left: 80px;
}
.comment-respond {
  margin-top: 20px;
  margin-left: 80px;
}
.comment-respond p {
  margin-bottom: 10px !important;
}
.comment-respond code {
  white-space: pre-line;
}
.comment-reply-title {
margin-bottom: 15px;
}
p.form-allowed-tags {
  margin-bottom: 20px !important;
}
.comments .media,
.comments .media .media {
  margin-top: 25px;
}
.comments .media > .media {
  margin-left: 80px;
}
.comments .madia-image {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 0 0;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.comments .media-body {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.comments li:last-child > .media-body {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.comments .date {
  display: inline-block;
  margin-bottom: 5px;
}
.comments p {
  margin: 0;
}
.comments-form {
  margin-left: 80px;
}


/*  Filters
/*----------------------------------------------------*/

.filters {
}
  a.filters-btn:hover {
    background: transparent;
    -webkit-box-shadow: inset 0 0 0 1px #e5e5e5;
       -moz-box-shadow: inset 0 0 0 1px #e5e5e5;
            box-shadow: inset 0 0 0 1px #e5e5e5;
    color: #dd3f19;
  }
  a.filters-btn:hover i {
    color: #dd3f19;
  }
  .filters-set {
    position: relative;
    top: -1px;
    display: none;
    padding: 10px 25px;
    height: auto;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  }
    .filters-set a {
      display: block;
      margin: 7px 0 5px;
      color: #5c5c5c;
      font-size: 12px;
    }
    .filters-set a:hover,
    .filters-set a:hover i {
      color: #dd3f19;
    }
      .filters-set a i {
        margin-right: 3px;
        color: #5c5c5c;
        font-size: 14px;
      }

.filterable-items > .row {
  padding-bottom: 20px;
}


/*  Grid Item
/*----------------------------------------------------*/

.grid-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
  .grid-item .thumb {
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
  }
    .grid-item .thumb span {
      position: relative;
      right: 50%;
      -webkit-backface-visibility: hidden;
    }
      .grid-item .thumb span > img {
        margin-right: -100%;
        max-width: inherit;
      }
      .grid-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all .2s ease-out;
           -moz-transition: all .2s ease-out;
             -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
        -webkit-backface-visibility: hidden;
      }
      .grid-item .overlay:before {
        display: inline-block;
        height: 100%;
        content: ''; 
        vertical-align: middle;
      }
      .grid-item .thumb:hover .overlay {
        top: 0;
        background: rgba(0, 0, 0, .8);
        opacity: 1;
      }

  .grid-item .title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .grid-item .like-btn,
  .grid-item .like-btn i {
    font-size: 12px;
  }


/*  Full Width Grid
/*----------------------------------------------------*/

.portfolio-fullwidth .filterable-items .row-fluid .span4 {
  width: 33.2%;
  *width: 33.333333333333333%;
}
.portfolio-fullwidth .filterable-items .row-fluid .span6 {
  width: 49.8%%;
}
.portfolio-fullwidth .filterable-items .row-fluid .span3 {
  width: 24.9%;
}
.portfolio-fullwidth .filterable-items .row-fluid [class*="span"] {
  margin: 0;
}
.portfolio-fullwidth .grid-item {
  margin: 0;
  width: 103%;
  height: auto;
}
.portfolio-fullwidth .gap20,
.portfolio-fullwidth .gap60,
.portfolio-fullwidth .gap100 {
  display: none;
}
.portfolio-fullwidth .filters {
  border-bottom: 2px solid #dd3f19;
  background-color: #333;
}
.portfolio-fullwidth a.filters-btn {
  padding: 10px 15px;
  border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: rgba(255, 255, 255, .6);
}
.portfolio-fullwidth a.filters-btn:hover {
    background-color: #dd3f19;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
.portfolio-fullwidth a.filters-btn i {
  color: rgba(255, 255, 255, .6);
}
.portfolio-fullwidth .filters-set {
  top: 0;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background-color: #dd3f19;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.portfolio-fullwidth .filters-set a {
  color: rgba(255, 255, 255, .6);
}
.portfolio-fullwidth .filters-set a:hover,
.portfolio-fullwidth .filters-set a:hover i {
  color: #fff;
}
.portfolio-fullwidth .filters-set a i {
  color: rgba(255, 255, 255, .6);
}
.portfolio-fullwidth .container.fastFadeFromTop {
  display: none;
}
.portfolio-fullwidth #load-more-items {
  padding: 10px 0;
  min-height: inherit;
  border-top: 2px solid #dd3f19;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: rgba(255, 255, 255, .6);
}
.portfolio-fullwidth #load-more-items:hover {
  background-color: #dd3f19;
}


/*  Single Project Navigation
/*----------------------------------------------------*/

.project-navbar {
  position: fixed;
  top: 100px;
  z-index: 1040;
  display: none;
  width: 100%;
  background: #111;
  background: rgba(0, 0, 0, .5);
  text-align: center;
}
  .project-navbar .container {
    padding: 5px 0;
  }
    .project-navbar .project-nav {
      display: inline-block;
    }

.like-btn,
.like-btn i,
.like-btn span {
    color: #adadad;
}
.like-btn:hover,
.like-btn:hover i,
.like-btn:hover span {
    color: #dd3f19;
}
.like-btn.active,
.like-btn.active i,
.like-btn.active span {
    color: #dd3f19;
}


/*  Pagination
/*----------------------------------------------------*/

.page-template-page-blog-php .pagination {
  margin-left: 80px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
}
.pagination {
  margin: 0;
  text-align: center;
}
  .pagination a,
  .pagination span {
    width: 35px;
    height: 35px;
    color: #666;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
  }
  .pagination a:hover {
    color: #dd3f19;
  }
  .pagination .divider {
    margin: 0 5px;
    color: #adadad;
  }
  .pagination .prev,
  .pagination .next {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 0 1px #d9d9d9;
       -moz-box-shadow: inset 0 0 0 1px #d9d9d9;
            box-shadow: inset 0 0 0 1px #d9d9d9;
    text-indent: -9999px;
  }
  .pagination .prev {
    float: left;
    background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_prev.png);
  }
  .pagination .next {
    float: right;
    background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_next.png);
  }
  .pagination a.prev:hover,
  .pagination a.next:hover {
    background-color: #dd3f19;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .pagination a.prev:hover {
    float: left;
    background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_prev_inverse.png);
  }
  .pagination a.next:hover {
    float: right;
    background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/pagination_next_inverse.png);
  }
  .pagination .current {
    color: #dd3f19;
  }
  .pagination .inactive {
    opacity: .5;
    filter: alpha(opacity=50);
  }


/*  Like button
/*----------------------------------------------------*/

.project-like {
  margin: 20px 0 0;
  text-align: center;
}
  .project-like .like-btn,
  .project-like .like-btn i {
    font-size: 18px;
  }


/*  Modal
/*----------------------------------------------------*/

.modal {
  margin-left: -375px;
  width: 730px;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background: #333;
  background: rgba(0, 0, 0, .85);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #cfcfcf;
  color: rgba(255, 255, 255, .8);
}
  .modal-header {
    padding: 50px 70px 10px;
    border: none;
    text-align: center;
  }
    .modal-header .close {
      position: absolute;
      top: 10px;
      right: 15px;
      margin: 0;
      color: #fff;
      font-weight: 300;
      font-size: 30px;
      opacity: .4;
    }
    .modal-header .close:hover {
      opacity: 1;
    }
    .modal-header h3 {
      margin: 0 0 10px;
      color: #fff;
      font-size: 48px;
      line-height: normal;
    }
    .modal-header p {
      color: rgba(255, 255, 255, .4);
    }

  .modal-body {
    padding: 20px 70px 20px;
  }
  .modal-footer {
    padding: 0 70px 50px;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    text-align: center;
  }

.modal-backdrop {
  background: #fff;
}
.contacter button {
  margin-top: 15px;
}


/*  Forms
/*----------------------------------------------------*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 7px 6px;
  height: auto;
  border: 1px solid #666;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #666;
  vertical-align: middle;
  font-size: inherit;
  line-height: 18px;
}
select.input-inverse,
textarea.input-inverse,
input[type="text"].input-inverse,
input[type="password"].input-inverse,
input[type="datetime"],
input[type="datetime-local"].input-inverse,
input[type="date"].input-inverse,
input[type="month"].input-inverse,
input[type="time"].input-inverse,
input[type="week"].input-inverse,
input[type="number"].input-inverse,
input[type="email"].input-inverse,
input[type="url"],
input[type="search"].input-inverse,
input[type="tel"],
input[type="color"].input-inverse,
.uneditable-input.input-inverse {
  border-color: #fff;
  border-color: rgba(255, 255, 255, .2);
  background-color: transparent;
  color: #fff;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #fff;
  border-color: #dd3f19;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}   
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  z-index: 9999;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}
input.input-inverse:-moz-placeholder,
textarea.input-inverse:-moz-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, .4);
}
input.input-inverse:-ms-input-placeholder,
textarea.input-inverse:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, .4);
}
input.input-inverse::-webkit-input-placeholder,
textarea.input-inverse::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, .4);
}
select.error,
textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"],
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"],
input[type="search"].error,
input[type="tel"],
input[type="color"].error,
.uneditable-input.error {
  border-color: #ff0000;
}


/*  Emphasis Classes
/*----------------------------------------------------*/

.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #333;
}

.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #333;
}

.text-error {
  color: #dd3f19;
}
a.text-error:hover,
a.text-error:focus {
  color: #333;
}

.text-info {
  color: #3a77c1;
}
a.text-info:hover,
a.text-info:focus {
  color: #333;
}

.text-success {
  color: #44a22d;
}

a.text-success:hover,
a.text-success:focus {
  color: #333;
}


/*  Close Button
/*----------------------------------------------------*/

.close {
  color: #000000;
  text-shadow: none;
  text-shadow: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}


/*  Google Map
/*----------------------------------------------------*/

.google-map img {
  max-width: inherit;
}


/*  Page 404
/*----------------------------------------------------*/

.error404 .content {
  margin: 0 !important;
  padding: 300px 0 110px;
}
.error404 h1.back404 {
  position: absolute;
  top: -300px;
  z-index: -1;
  width: 100%;
  color: #F5F5F5;
  font-size: 550px;
}
.error404 footer {
  display: none;
}


/*  Search Results
/*----------------------------------------------------*/

.search-results .content {
  padding: 200px 0 30px;
}
.search-no-results .content {
  padding: 200px 0 110px;
}




/*  Shortcodes
/*  =======================================================================  */

/*  [alert]
/*----------------------------------------------------*/

.alert {
  border: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #fffcea;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .04);
     -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .04);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .04);
  color: #c09853;
  text-shadow: none;
}
.alert-info {
  background-color: #e6f7ff;
  color: #3a87ad;
}
.alert-danger,
.alert-error {
  background-color: #ffecec;
  color: #b94a48;
}
.alert-success {
  background-color: #f1fcea;
  color: #468847;
}


/*  [tooltip]
/*----------------------------------------------------*/

.tooltip-inner {
  padding: 7px 8px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
span[data-toggle="tooltip"] {
  color: #dd3f19;
  cursor: pointer;
}
span[data-toggle="tooltip"]:hover {
  color: #333333;
}


/*  [Background]
/*----------------------------------------------------*/

.backgrounded {
  padding: 80px 0 55px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
  .backgrounded h1,
  .backgrounded h2,
  .backgrounded h3,
  .backgrounded h4,
  .backgrounded h5,
  .backgrounded h6 {
    color: #fff;
  }
  .backgrounded p,
  .backgrounded .services p {
    color: #fff;
    color: rgba(255, 255, 255, .6);
  }
  .backgrounded.inverse h1,
  .backgrounded.inverse h2,
  .backgrounded.inverse h3,
  .backgrounded.inverse h4,
  .backgrounded.inverse h5,
  .backgrounded.inverse h6 {
    color: #333;
  }
  .backgrounded.inverse,
  .backgrounded.inverse p {
    color: #666;
  }
  .backgrounded .headline {
    color: #fff;
    color: rgba(255, 255, 255, .8);
  }
  .backgrounded.inverse .headline {
    color: #7f7f7f;
    color: rgba(0, 0, 0, .5);
  }
  .backgrounded.inverse .services p {
    color: #7f7f7f;
    color: rgba(0, 0, 0, .5);
  }
  .backgrounded .b-img {
    margin-bottom: -75px;
  } 


/*  [service]
/*----------------------------------------------------*/

.services {
  display: block;
  font-size: 12px;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
}
a.services:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}
  .services .service-box {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    font-size: 56px;
  }
  .services .service-icon {
    position: absolute;
    width: inherit;
    height: inherit;
    line-height: 110px;
  }
  .services.text-center .service-box {
    display: inline-block;
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services h3 {
    margin-bottom: 10px;
  }
  .services p {
    color: #7f7f7f;
    color: rgba(0, 0, 0, .5);
  }

.services.inverse {
  text-align: center;
}
  .services.inverse h3 {
    color: #fff;
  }
  .services.inverse p {
    color: #fff;
    color: rgba(255, 255, 255, .5);
  }
  .services.inverse i {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
    color: rgba(255, 255, 255, .5);
    font-size: 72px;
  }


/*  [logo]
/*----------------------------------------------------*/

.client-logo {
  width: auto;
  height: auto;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, .3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
}


/*  [accordions]
/*----------------------------------------------------*/

.accordion-group {
  margin-bottom: -1px;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.accordion-heading {
  position: relative;
  z-index: 9999;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transition: background-color .2s;
     -moz-transition: background-color .2s;
       -o-transition: background-color .2s;
          transition: background-color .2s;
}
.accordion-heading .accordion-toggle {
  padding: 8px 36px;
}
.accordion-heading.active .accordion-toggle {
  padding: 8px 35px;
}
.accordion-heading:hover .accordion-toggle {
  padding: 8px 35px;
}
.accordion-heading a {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/toggle_closed.png);
  background-position: 13px 48%;
  background-size: 13px;
  background-repeat: no-repeat;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}
.accordion-group:last-child .accordion-heading a {
  border-bottom: 1px solid #e5e5e5;
}
.accordion-group:last-child .accordion-heading.active a,
.accordion-group:last-child .accordion-heading:hover a {
  border-bottom: 1px solid transparent;
}
.accordion-heading:hover {
  z-index: 99999;
  border-left: 1px solid #dd3f19;
  background-color: #eeeeee;
}
.accordion-heading:hover a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-position: 12px 48%;
}
.accordion-heading.active {
  border-left: 1px solid #dd3f19;
}
.accordion-heading.active a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #eeeeee;
  background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/toggle_opened.png);
  background-position: 12px 48%;
}
.accordion-inner {
  margin-top: -1px;
  padding: 25px 15px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.accordion-group:last-child .accordion-inner {
  border-bottom: 1px solid #e5e5e5;
}


/*  [tabs]
/*----------------------------------------------------*/

.nav {
  margin-bottom: 0;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li {
  -webkit-transition: border-color .2s;
     -moz-transition: border-color .2s;
       -o-transition: border-color .2s;
          transition: border-color .2s;
}
  .nav-tabs > li > a {
    margin-right: 1px;
    padding: 8px 15px;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    box-shadow: 1px 0 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1);
    -webkit-transition: background-color .2s;
       -moz-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;
  }
  .nav-tabs > li:first-child > a {
      box-shadow: 1px 0 0 0 rgba(0,0,0,.1), -1px 0 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1);
  }
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus,
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
      border: none;
      background-color: #ffffff;
      box-shadow: 1px 0 0 0 rgba(0,0,0,.1), -1px 0 0 0 rgba(0,0,0,.1), 0 -1px 0 0 #dd3f19 !important;
  }


/*  [tabs pos="left"]
/*----------------------------------------------------*/

.tabs-left > .nav-tabs {
  margin-right: 0;
}
  .tabs-left > .nav-tabs > li > a {
    margin-bottom: 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    box-shadow: -1px 0 0 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.1);
  }
  .tabs-left > .nav-tabs > li:first-child > a {
    box-shadow: -1px 0 0 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1);
  }
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus,
  .tabs-left > .nav-tabs > .active > a,
  .tabs-left > .nav-tabs > .active > a:hover,
  .tabs-left > .nav-tabs > .active > a:focus {
    border: none;
    box-shadow: -1px 0 0 0 #dd3f19, 0 1px 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1) !important;
  }


/*  [tabs pos="right"]
/*----------------------------------------------------*/

.tabs-right > .nav-tabs {
  margin-left: 0;
}
  .tabs-right > .nav-tabs > li > a {
    margin-bottom: 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    box-shadow: 1px 0 0 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.1);
  }
  .tabs-right > .nav-tabs > li:first-child > a {
    box-shadow: 1px 0 0 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1);
  }
  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus,
  .tabs-right > .nav-tabs > .active > a,
  .tabs-right > .nav-tabs > .active > a:hover,
  .tabs-right > .nav-tabs > .active > a:focus {
    border: none;
    box-shadow: 1px 0 0 0 #dd3f19, 0 1px 0 0 rgba(0,0,0,.1), 0 -1px 0 0 rgba(0,0,0,.1) !important;
  }


  /*  Tabs Content  */

  .tab-content {
    overflow: auto;
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 20px 15px 0;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  }
  .tabs-left .tab-content,
  .tabs-right .tab-content {
      margin-top: 0;
  }


/*  [button]
/*----------------------------------------------------*/

.btn,
#commentform input[type="submit"] {
  position: relative;
  padding: 8px 25px;
  border: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-weight: normal;
  font-size: 12px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background: #666;
  color: #fff;
}
.btn,
.btn:hover,
.btn:focus,
#commentform input[type="submit"] {
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
       -o-transition: all .2s linear;
          transition: all .2s linear;
}


/*  Buttons Size  */

.btn-large {
  padding: 10px 35px;
  font-size: 14px;
}
  .btn-large i {
    font-size: 14px;
  }

.btn-small {
  padding: 6px 15px;
  font-size: 11px;
}
.btn-mini {
  padding: 2px 8px;
  font-size: 10px;
}


/*  Buttons Color  */

.btn-primary,
#commentform input[type="submit"] {
  background: #dd3f19;
  color: #fff;
}
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled],
  #commentform input[type="submit"]:hover,
  #commentform input[type="submit"]:focus {
  background: #666;
}
.btn-warning {
  background: #ffd132;
  color: #fff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background: #666;
}

.btn-danger {
  background: #dd3f19;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background: #815cb4;
}

.btn-success {
  background: #37ce77;
  color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background: #666;
}

.btn-info {
  background: #59b1f6;
  color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background: #666;
}

.btn-inverse {
  background: #363636;
  color: #fff;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background: #dd3f19;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
  color: #005580;
  text-decoration: underline;
}

.btn-simple {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #d9d9d9;
     -moz-box-shadow: inset 0 0 0 1px #d9d9d9;
          box-shadow: inset 0 0 0 1px #d9d9d9;
  color: #adadad;
}
.btn-simple:hover,
.btn-simple.btn-inverse:hover {
  background: #dd3f19;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #fff;
}
  .btn-simple i {
    color: #adadad;
  }
  .btn-simple:hover i {
    color: #fff;
  }

.btn-simple.btn-inverse {
  -webkit-box-shadow: inset 0 0 0 1px #d9d9d9;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
     -moz-box-shadow: inset 0 0 0 1px #d9d9d9;
     -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
          box-shadow: inset 0 0 0 1px #d9d9d9;
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
  color: #fff;
  color: rgba(255, 255, 255, .7);
}
  .btn-simple.btn-inverse i {
    color: #fff;
    color: rgba(255, 255, 255, .7);
  }
  .btn-simple.btn-inverse:hover i {
    color: #fff;
  }




/*  Widgets
/*  =======================================================================  */

.widget {
  margin: 0 0 50px;
  font-size: 12px;
}
  .widget h3 {
    margin: -5px 0 15px;
  }
  .widget_categories ul,
  .widget_archive ul,
  .widget_recent_entries ul {
    margin-left: 0;
    list-style: none;
  }
  .widget_categories ul li,
  .widget_archive ul li,
  .widget_recent_entries ul li {
    padding: 7px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .widget_categories ul li:last-child,
  .widget_archives ul li:last-child,
  .widget_recent_entries ul li:last-child {
    border: none;
  }




/*  External Elements
/*  =======================================================================  */

/*  Revolution Slider
/*----------------------------------------------------*/

.tparrows {  
         opacity: .6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: .6;
  -khtml-opacity: .6;
}
.tparrows:hover {
         opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
  -khtml-opacity: 1;
}
.tp-leftarrow.hidearrows,
.tp-leftarrow.default.hidearrows {
  left: 0 !important;
  -webkit-transition: opacity ease .2s, left ease .2s;
     -moz-transition: opacity ease .2s, left ease .2s;
       -o-transition: opacity ease .2s, left ease .2s;
          transition: opacity ease .2s, left ease .2s;
}
.tp-rightarrow.hidearrows,
.tp-rightarrow.default.hidearrows {
  right: 0 !important;
  -webkit-transition: opacity ease .2s, right ease .2s;
     -moz-transition: opacity ease .2s, right ease .2s;
       -o-transition: opacity ease .2s, right ease .2s;
          transition: opacity ease .2s, right ease .2s;
}
.tp-leftarrow,
.tp-rightarrow,
.tp-leftarrow.default,
.tp-rightarrow.default {
  width: 75px;
  height: 150px;
  background-size: 75px 150px;
  background-repeat: no-repeat;
}
.tp-leftarrow,
.tp-leftarrow.default {
  left: 30px !important;
  background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/paddle_prev.png);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/paddle_prev.png', sizingMethod='scale');
  -webkit-transition: opacity ease .2s, left ease .2s;
     -moz-transition: opacity ease .2s, left ease .2s;
       -o-transition: opacity ease .2s, left ease .2s;
          transition: opacity ease .2s, left ease .2s;
}
.tp-rightarrow,
.tp-rightarrow.default {
  right: 30px !important;
  background-image: url(http://web.archive.org/web/20150209232946/http://paris-taiko.com/wp-content/themes/supernova/img/paddle_next.png);
  -webkit-transition: opacity ease .2s, right ease .2s;
     -moz-transition: opacity ease .2s, right ease .2s;
       -o-transition: opacity ease .2s, right ease .2s;
          transition: opacity ease .2s, right ease .2s;
}
.tp-bullets.simplebullets.round .bullet,
.tp-bullets.simplebullets.round .bullet:hover {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-right: 6px;
  margin-left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  background: rgba(255,255,255,.7);
  cursor: pointer;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
     -moz-transition: background-color 0.25s, border-color 0.25s;
          transition: background-color 0.25s, border-color 0.25s;
  -webkit-transform: translateZ(0);
}
.tp-bullets.simplebullets.round .bullet.selected {
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background: transparent;
}
.tp-caption a {
  padding: 15px 50px;
  color: #fff;
  font-size: 18px;
}
.tp-caption a:hover {
  color: #fff;
}




