




/*
     FILE ARCHIVED ON 17:19:45 janv. 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:23:51 janv. 8, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.tp-caption.big_thin_white_cap {
font-size:45px;
font-family:Tahoma,Geneva,sans-serif;
text-decoration:none;
background-color:transparent;
text-transform:uppercase;
border-width:0px;
border-color:rgb(242, 242, 242);
border-style:none;
}

.tp-caption.med_thin_white_cap {
font-size:35px;
font-family:Tahoma,Geneva,sans-serif;
text-decoration:none;
background-color:transparent;
text-transform:uppercase;
border-width:0px;
border-color:rgb(242, 242, 242);
border-style:none;
}

.tp-caption.mediumlarge_light_white_center {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

